:root {
    --color-bg-block: #fff;
    --color-text: #000;
    --color-bg: #34CEF0;
    --bor-rad: 25px;
    --bor-rad-img: 50px; 
}
.darkmode {
    --color-bg-block: #000;
    --color-text: #fff;
    --color-bg: #2C5BD3;
}

.titleText {
    font-size: 24px;
    font-family: Helvetica, sans-serif;
}
.buttonText {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
}

header {
    height: 70px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
}
header > nav {
    width: 1260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}
.nuvSection {
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-block);
    border-radius: var(--bor-rad);
}

main {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
}
/* main */

.popularFlights {
    width: 1260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popularFlights > h2 {
    color: var(--color-text);
}
.arrivingFlightsCardBox {
    width: 1260px;
    height: fit-content;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
}
.arrivingCard {
    width: 400px;
    height: 80px;
    border-radius: var(--bor-rad);
    background-color: var(--color-bg-block);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrivingCountry {
    margin: 5px;
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}
.arrivingCountry > img {
    border-radius: var(--bor-rad-img);
}
.arrivingCity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.moreDetailed {
    padding: 5px;
    color: var(--color-bg);
    border: none;
    background-color: inherit;
}